/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #8ac4d0;
  min-height: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  margin: 0 auto;
}

.skeleton {
  user-select: none;
  background-color: #eeeeee;
  color: #eeeeee;
}

/*--------------------------------------------------------------
# Skip to content
--------------------------------------------------------------*/
.skip-content {
  position: absolute;
  color: white;
  padding: 8px;
  background: #f4d160;
  font-weight: bold;
  top: -40px;
  left: 0;
  z-index: 100;
}

.skip-content:focus {
  top: 0;
}

/*--------------------------------------------------------------
# Loading
--------------------------------------------------------------*/
#loading h1 {
  position: relative;
  margin: 0;
  top: 20px;
  text-align: center;
  font-size: 18px;
  color: #28527a;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 45vh;
  overflow: hidden;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #8ac4d0;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #8ac4d0;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #8ac4d0;
  animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #8ac4d0;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #8ac4d0;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #8ac4d0;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #28527a;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}

#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #28527a;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #28527a;
  box-shadow: 0 0 3px 0 #28527a;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }

  25% {
    top: 10%;
    transform: rotateX(0deg);
  }

  50% {
    top: 30%;
    transform: rotateX(85deg);
  }

  75% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(85deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-27deg);
  }

  30%,
  50% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(27deg);
  }

  83.3% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }

  10% {
    bottom: 40%;
  }

  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }

  80% {
    bottom: 40%;
  }

  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }

  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }

  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background: #28527a;
}

#navbar .nav-container {
  height: 100%;
  display: flex;
  margin: 0 10%;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

#navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}

#navbar a:focus,
#navbar a:hover {
  color: white;
}

#navbar .logo {
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5em;
}

#navbar .logo img {
  width: 100%;
  height: 100%;
}

#navbar .menu-toggle {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}

#navbar .menu-toggle:focus .icon-bar,
#navbar .menu-toggle:hover .icon-bar {
  background-color: white;
}

#navbar.opened .menu-toggle .icon-bar:first-child,
#navbar.opened .menu-toggle .icon-bar:last-child {
  width: 30px;
  position: absolute;
  margin: 0;
}

#navbar.opened .menu-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .menu-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .menu-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar .nav-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: var(--navbar-height);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

#navbar.opened .nav-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

#navbar .nav-list {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  list-style-type: none;
  margin-top: 0;
  left: 0;
  right: 0;
  transition: all 0.25s ease-in-out;
  transform: translateX(-250px);
  background: #8ac4d0;
}

#navbar.opened .nav-list {
  padding: 1em 0;
  transform: translateX(0px);
  transition: transform 250ms ease-in-out;
  max-height: none;
}

#navbar .nav-item {
  width: 100%;
  height: 100%;
}

#navbar .nav-item a {
  width: 100%;
  height: 100%;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar .nav-item a:focus,
#navbar .nav-item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

#navbar.opened .nav-item {
  margin: 0;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 400px;
  background: #fbeeac url("/images/hero-image_2-large.jpg") center top
    no-repeat;
  background-size: cover;
}

.hero:before {
  width: 100%;
  min-height: 400px;
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
}

.hero .hero-container {
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  color: #ffc93c;
  padding: 0 25px;
}

.hero .hero-container h1 {
  font-size: 30px;
  text-align: center;
}

.hero .hero-container p {
  font-size: 20px;
  text-align: center;
  margin: 10px 20%;
}

/*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
    --------------------------------*/
.section-header h2 {
  font-size: 26px;
  color: #28527a;
  font-weight: 700;
  text-align: center;
}

/* Product Section
  --------------------------------*/
#products {
  padding: 40px 0;
}

#products .product-list {
  margin: 32px 5px auto;
  text-align: left;
  display: grid;
  grid-row-gap: 20px;
}

#products .product-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#products .product-item a {
  text-decoration: none;
  color: black;
}

#products .product-item h1 {
  min-width: 44px;
  min-height: 44px;
  margin-left: 16px;
  color: #f4d160;
  transition: 0.5s opacity;
}

#products .product-item .product-title {
  position: absolute;
  left: 16px;
  top: 200px;
}

#products .product-item .product-thumbnail {
  width: 100%;
  height: 250px;
}

#products .product-item .shadow-gradient {
  position: relative;
  display: inline-block;
}

#products .product-item .shadow-gradient:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(60, 60, 60, 1));
}

#products .content-list {
  padding: 12px;
}

#products .title-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#products .product-item h3 {
  font-size: 16px;
  margin-top: 5px;
  color: #28527a;
  transition: 0.5s opacity;
}

#products .product-item .content-title {
  border-radius: 10px;
  background-color: #f4d160;
  padding: 3px 10px 3px;
  margin-right: 10px;
}

#products .content-list p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
}

/* Detail Section
  --------------------------------*/
#products .detail-list {
  margin: 32px 5px auto;
  text-align: left;
}
.detail-item {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
}

.detail-item .menu-title h2 {
  font-size: 32px;
  font-weight: bold;
  color: #28527a;
  text-align: center;
  margin: 0 auto;
}

.detail-item .detail-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-info {
  margin-top: 20px;
}
.detail-info h2 {
  font-size: 32px;
  font-weight: bold;
  color: #28527a;
}

.detail-info p {
  font-size: 14px;
  color: black;
  margin-top: 10px;
  line-height: 28px;
  letter-spacing: 0.8px;
}

.detail-info .detail-rating {
  border-radius: 10px;
  color: #28527a;
  background-color: #f4d160;
  padding: 3px 10px 3px;
  margin-left: 15px;
}

.detail-info .detail-category {
  font-weight: bold;
  border-radius: 10px;
  background-color: #f4d160;
  padding: 3px 10px 3px;
  margin-right: 15px;
}

.detail-food {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.detail-food h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.detail-food p {
  color: black;
  margin: 10px 0;
}

.detail-drink {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.detail-drink h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.detail-drink p {
  color: black;
  margin: 10px 0;
}

.food-item,
.drink-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Review Section
  --------------------------------*/
.form-review {
  margin-top: 20px;
}

.form-review label {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.form-review input {
  height: 44px;
}

.form-review input,
.form-review textarea {
  font-size: 16px;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.form-review input:focus,
.form-review textarea:focus {
  border-color: #f4d160;
}

.form-review .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btn-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-submit .btn-review {
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 10px;
  text-align: center;
  color: white;
  background-color: #28527a;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.btn-review:hover {
  color: black;
  background-color: #f4d160;
}

.btn-review i {
  margin-right: 10px;
}

.review-item .review-title {
  display: flex;
  flex: row;
  align-items: center;
  margin-bottom: 10px;
}

.review-item .review-title h3 {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  color: #28527a;
}

.review-item .review-title i {
  font-size: 28px;
  margin-right: 10px;
  color: #28527a;
}

.review-item .review-title p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-left: 10px;
}

.review-item .review-desc {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #f6f8fa;
  word-break: break-word;
  overflow: hidden;
}

.review-item .review-desc p {
  font-size: 14px;
  color: black;
}

.btn-like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #f4d160;
  color: black;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Favorite Section
  --------------------------------*/
.favorite-placeholder {
  text-align: center;
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  background: #28527a;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}
